html,
body {
    height: 100%;
    width: 100%;
    background-color: #000000;
}
.title {
    font-size: 50px;
    font-family: 'Plus Jakarta Sans', serif;
    font-weight: 300;
    color: #000000;
    background:#efeee7;
    height: 220px;
}

.container {
    display: flex;
    flex-direction: column;
}
button {
    border: white;
    background: none;
}
img {
    height: 500px;
}
.picture {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.navBar {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    font-family: 'Assistant', sans-serif;
}

.navBar-content {
    color: #efeee7;
}
.navBar:hover {
    background:#efeee7;
    color: #000000;
}
.hook{
    font-family: 'Plus Jakarta Sans', serif;
}

