html,
body {
    height: 100%;
    width: 100%;
    background-color: #ce793a;
}

.title {
    font-size: 50px;
    font-family: 'Plus Jakarta Sans', serif;
    font-weight: 300;
    color: #e5d1a4;
    background: #b64b12;
    height: 220px;
}

.container {
    display: flex;
    flex-direction: column;

}

.sheet {
    border: white;
    font-family: 'Plus Jakarta Sans', serif;
}

.navBar {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    font-family: 'Assistant', sans-serif;


}

button {
    border: white;
    background: none;
}

.navBar-content {
    color: #000000;

}

.navBar:hover { 
    background: #b64b12;
    color: #CE713B;
}

.playlists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.list{
    font-family: 'Plus Jakarta Sans', serif;
    color: #611C35;
}
