html,
body {
    height: 100%;
    width: 100%;
    background-color: #000000;
    color: #efeee7;
    font-family: 'Assistant', sans-serif;
}

.title {
    font-size: 50px;
    font-family: 'Plus Jakarta Sans', serif;
    font-weight: 300;
    color: #000000;
    background:#efeee7;
    height: 220px;
}

.container {
    display: flex;
    flex-direction: column;

}

.table {
    color: #efeee7;
    font-family: 'Assistant', sans-serif;  
}

.navBar {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    font-family: 'Assistant', sans-serif;


}

button {
    border: white;
    background: none;
}

.navBar a {
    color: #efeee7;
    text-decoration: none;
}

.navBar:hover {
    background:#efeee7;
}

.navBar:hover a {
    color: #000000;
}

.playlists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#csvTable {
    border-collapse: collapse;
    width: 80%; 
    margin: 20px auto; 
}

#csvTable th, #csvTable td {
    border: 1px solid #efeee7; 
    padding: 8px; 
    text-align: left;
}

