html,
body {
  height: 100%;
  width: 100%;
  background-color: #d7e8ba;
}

.title {
  font-size: 150px;
  background: #9AB36D;
  font-family: 'Plus Jakarta Sans', serif;
  font-weight: 300;
  color: #611C35;
  height: 220px;
  display: flex;
  align-items: center;      /* vertically center text */
  justify-content: center;  /* horizontally center text */
  margin: 0;                /* remove Bootstrap’s spacing */
  padding: 0;
}

.h1 {
  margin: 0;               
  font-size: 200px;      

}


.container {
  display: flex;
  flex-direction:column;
  width: 100%;
}

.sheet {
  border: white;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  font-family: 'Assistant', sans-serif;


}

/* button {
  border: white;
  background: none;
} */

.navBar-content {
  color: #000000;

}
.navBar-content:hover{
  color: #CE713B;
}
.navBar:hover {
  background: #9AB36D;
}

.goBtn{
  background: #0dfbff;
}