html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.title {
  font-family: 'Plus Jakarta Sans', serif; /* use sans-serif fallback */
  font-weight: 700;
  color: #000000;
  background:#efeee7;
  width: 100vw;       /* full viewport width */
  height: 220px;
  display: flex;       /* center the text vertically and horizontally */
  justify-content: center;
  align-items: center;
  margin: 0;          /* remove extra spacing */
}

.title h1 {
  margin: 0;          
  font-size: 100px;  
  font-weight: 700; 
}



.my-container {
  display: flex;
  flex-direction:column;
  width: 100%;
}

.sheet {
  border: white;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  font-family: 'Assistant', sans-serif;


}
button {
  border: white;
  background: none;
}

.navBar a {
  color: #efeee7;
  text-decoration: none;
}

.navBar:hover {
  background:#efeee7;
}

.navBar:hover a {
  color: #000000;
}

