html,
body {
  height: 100%;
  width: 100%;
  background-color: #ce793a;
}

.title {
  font-family: 'Plus Jakarta Sans', serif; /* use sans-serif fallback */
  font-weight: 700;
  color: #e5d1a4;
  background-color: #b64b12;
  width: 100vw;       /* full viewport width */
  height: 220px;
  display: flex;       /* center the text vertically and horizontally */
  justify-content: center;
  align-items: center;
  margin: 0;          /* remove extra spacing */
}

.title h1 {
  margin: 0;          
  font-size: 100px;  
  font-weight: 700; 
}



.my-container {
  display: flex;
  flex-direction:column;
  width: 100%;
}

.sheet {
  border: white;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  font-family: 'Assistant', sans-serif;


}
button {
  border: white;
  background: none;
}

.navBar-content {
  color: #000000;

}
.navBar-content:hover{
  color: #CE713B;
}
.navBar:hover { 
  background: #b64b12;
  color: #CE713B;
}

