html,
body {
  height: 100%;
  width: 100%;
  background-color: #ce793a;
}

.my-title {
  font-size: 50px;
  font-family: 'Plus Jakarta Sans', serif !important;
  font-weight: 300 !important;
  color: #e5d1a4;
  background: #b64b12;
  height: 220px !important;
}

.h1 {
  margin: 0;               
  font-size: 200px;      

}


.my-container {
  display: flex;
  flex-direction:column;
  width: 100%;
}

.sheet {
  border: white;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  font-family: 'Assistant', sans-serif;


}

/* button {
  border: white;
  background: none;
} */

.navBar-content {
  color: #000000;

}
.navBar-content:hover{
  color: #CE713B;
}
.navBar:hover {
  background: #9AB36D;
}

