html,
body {
  height: 100%;
  width: 100%;
  background-color: #ce793a;
}

img {
  height: 200px;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;

}

.title {
  font-size: 50px;
  font-family: 'Plus Jakarta Sans', serif;
  font-weight: 300;
  color: #e5d1a4;
  background: #b64b12;
  height: 220px;
}

button {
  border: white;
  background: none;
}


.picture {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  font-family: 'Assistant', sans-serif;


}

.navBar-content {
  color: #000000;

}

.navBar:hover {
  background: #b64b12;
  color: #CE713B;
}

.intro {
  font-family: 'Noto Serif Display', serif;
}

.browse {
  background-color: #2e5077;
  font-family: 'Plus Jakarta Sans', serif;
  color: #FFAF47;
  margin-top: 20px;
  height: 90px;
  font-size: 70px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

.browse:hover {
  background-color: #57789F;
}