html,
body {
  height: 100%;
  width: 100%;
  background-color: #000000;
}

img {
  height: 200px;
}
h1{
  font-family: 'Plus Jakarta Sans', serif; 
}
a {
  text-decoration: none;
}

.Tcontainer {
  display: flex;
  flex-direction: column;

}

.myTitle {
  font-size: 50px;
  font-family: 'Plus Jakarta Sans', serif;
  font-weight: 300;
  color:#000000;
  background:#efeee7;
  height: 220px;
}

button {
  border: white;
  background: none;
}


#carouselExampleControls {
  max-width: 1000px;
  margin: 30px auto;
}

#carouselExampleControls img {
  height: 450px;
  object-fit: cover;
  border-radius: 12px;
}

.navBar {
  display: flex;
  justify-content: space-around;
  padding: 40px;
  font-family: 'Assistant', sans-serif;
  background: #000000;
  color: #efeee7;
}

.navBar a {
  color: #efeee7;
  text-decoration: none;
}

.navBar:hover {
  background:#efeee7;
}

.navBar:hover a {
  color: #000000;
}

.intro {
  font-family: 'Plus Jakarta Sans', serif;
  color: #efeee7;
}

/* .browse {
  background-color: #2e5077;
  font-family: 'Plus Jakarta Sans', serif;
  color: #FFAF47;
  margin-top: 20px;
  height: 90px;
  font-size: 70px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
} */

/* .browse:hover {
  background-color: #57789F;
} */